#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&lt { flavor = "hold-preferred"; };

/ {
    chosen { zmk,matrix-transform = &imprint_function_row_full_bottom_row; };

    macros {
        m_cpy_line: copy_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp HOME>,
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp END>,
                <&macro_release>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp LC(C) &kp END>;

            label = "COPY_LINE";
        };

        m_del_line: m_delete_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp HOME>,
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp END>,
                <&macro_release>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp DELETE>;

            label = "M_DELETE_LINE";
        };

        m_chg_inner_word: m_del_word {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LC(LEFT)>,
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp LC(RIGHT_ARROW)>,
                <&macro_release>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp DELETE>;

            label = "M_DEL_WORD";
        };

        m_sel_inner_word: m_select_word {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LC(LEFT)>,
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp LC(RIGHT_ARROW)>,
                <&macro_release>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>;

            label = "M_SELECT_WORD";
        };

        m_sel_line: m_select_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp HOME>,
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp END>,
                <&macro_release>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>;

            label = "M_SELECT_LINE";
        };

        m_del_copy_inner_word: m_del_copy_inner_word {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LC(LEFT)>,
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp LC(RIGHT_ARROW)>,
                <&macro_release>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp LC(X)>;

            label = "M_DEL_COPY_INNER_WORD";
        };

        m_del_cpy_line: m_del_cpy_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp HOME>,
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp END>,
                <&macro_release>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp LC(X)>;

            label = "M_DEL_CPY_LINE";
        };

        m_del_inner_word: m_del_inner_word {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LC(LEFT)>,
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp LC(RIGHT_ARROW)>,
                <&macro_release>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp DELETE>;

            label = "M_DEL_INNER_WORD";
        };

        m_cpy_inner_word: m_cpy_inner_word {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LC(LEFT)>,
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp LC(RIGHT_ARROW)>,
                <&macro_release>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp LC(C)>;

            label = "M_CPY_INNER_WORD";
        };
    };

    behaviors {
        yank: yank {
            compatible = "zmk,behavior-tap-dance";
            label = "YANK";
            #binding-cells = <0>;
            bindings = <&kp LC(C)>, <&m_cpy_line>;
        };

        del_line: del_line {
            compatible = "zmk,behavior-tap-dance";
            label = "DEL_LINE";
            #binding-cells = <0>;
            bindings = <&trans>, <&m_del_line>;
        };

        b_gg: b_gg {
            compatible = "zmk,behavior-tap-dance";
            label = "B_GG";
            #binding-cells = <0>;
            bindings = <&none>, <&kp LC(HOME)>;
        };

        b_shift_caps: b_shift_caps {
            compatible = "zmk,behavior-tap-dance";
            label = "B_SHIFT_CAPS";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPSLOCK>;
        };
    };

    combos {
        compatible = "zmk,combos";

        c_dw {
            bindings = <&kp LC(DELETE)>;
            key-positions = <39 26>;
            layers = <5>;
            timeout-ms = <500>;
        };

        c_db {
            bindings = <&kp LC(BACKSPACE)>;
            key-positions = <39 53>;
            layers = <5>;
            timeout-ms = <500>;
            require-prior-idle-ms = <0>;
        };

        c_ciw {
            bindings = <&m_del_copy_inner_word>;
            key-positions = <51 32 26>;
            layers = <5>;
        };

        c_viw {
            bindings = <&m_sel_inner_word>;
            key-positions = <32 26 52>;
            layers = <5>;
        };

        c_diw {
            bindings = <&m_del_inner_word>;
            key-positions = <32 39 26>;
            layers = <5>;
        };

        m_yiw {
            bindings = <&m_del_inner_word>;
            key-positions = <32 26 30>;
            layers = <5>;
        };

        c_shift_v {
            bindings = <&m_sel_line>;
            key-positions = <71 52>;
            layers = <5>;
        };

        c_shift_g {
            bindings = <&kp END>;
            key-positions = <71 41>;
            layers = <5>;
        };

        c_ctrl_u {
            bindings = <&kp PAGE_UP>;
            key-positions = <31 76>;
        };

        c_ctrl_d {
            bindings = <&kp PAGE_DOWN>;
            key-positions = <76 39>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&bt BT_CLR_ALL  &kp F1           &kp F2          &kp F3        &kp F4            &kp F5                       &kp F6     &kp F7         &kp F8         &kp F9    &kp F10   &kp F11
&kp MINUS       &kp N1           &kp N2          &kp N3        &kp N4            &kp N5                       &kp N6     &kp N7         &kp N8         &kp N9    &kp N0    &kp EQUAL
&kp TAB         &kp Q            &kp W           &kp E         &kp R             &kp T                        &kp Y      &kp U          &kp I          &kp O     &kp P     &kp BSLH
&kp ESC         &kp A            &kp S           &kp D         &kp F             &kp G                        &kp H      &kp J          &kp K          &kp L     &kp SEMI  &kp SQT
&kp LEFT_SHIFT  &kp Z            &kp X           &kp C         &kp V             &kp B                        &kp N      &kp M          &kp COMMA      &kp DOT   &kp FSLH  &kp F12
&msc SCRL_LEFT  &msc SCRL_RIGHT  &msc SCRL_DOWN  &msc SCRL_UP  &kp PAGE_UP                                               &kp PAGE_DOWN  &kp LBKT       &kp RBKT  &kp HOME  &kp END
                                                               &lt 4 SPACE       &b_shift_caps  &kp DELETE    &mkp LCLK  &kp ENTER      &lt 5 SPACE
                                                               &kp LEFT_CONTROL  &kp LEFT_WIN   &tog 0        &mkp RCLK  &kp RIGHT_ALT  &kp BACKSPACE
            >;
        };

        Numpad_Nav_Layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans    &trans    &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans    &trans    &trans     &trans  &trans
&trans  &trans  &kp N7  &kp N8  &kp N9  &trans            &trans  &kp HOME  &kp UP    &kp END    &trans  &trans
&trans  &trans  &kp N4  &kp N5  &kp N6  &trans            &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans
&trans  &trans  &kp N1  &kp N2  &kp N3  &trans            &trans  &trans    &trans    &trans     &trans  &trans
&trans  &trans  &trans  &kp N0  &trans                            &trans    &trans    &trans     &trans  &trans
                                &trans  &trans  &trans    &trans  &trans    &trans
                                &trans  &trans  &trans    &trans  &trans    &trans
            >;
        };

        Keyboard_Control_Layer {
            bindings = <
&trans       &trans        &trans        &trans        &trans        &trans                  &trans           &trans           &trans           &trans           &trans           &trans
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4            &trans           &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &trans           &trans           &trans
&sys_reset   &trans        &trans        &trans        &trans        &trans                  &rgb_ug RGB_TOG  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &rgb_ug RGB_SPI  &sys_reset
&bootloader  &trans        &trans        &trans        &trans        &trans                  &trans           &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &rgb_ug RGB_SPD  &bootloader
&to 0        &trans        &trans        &trans        &trans        &trans                  &trans           &trans           &trans           &trans           &trans           &to 0
&to 0        &trans        &trans        &trans        &trans                                                 &trans           &trans           &trans           &trans           &to 0
                                                       &trans        &trans        &trans    &trans           &trans           &trans
                                                       &trans        &trans        &trans    &trans           &trans           &trans
            >;
        };

        Auto_Mouse_Layer {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &mkp RCLK  &mkp MCLK  &mkp LCLK  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans     &trans                               &trans  &trans  &trans  &trans  &trans
                                      &trans     &trans  &trans    &trans  &trans  &trans
                                      &trans     &trans  &trans    &trans  &trans  &trans
            >;
        };

        character_layer {
            bindings = <
&trans  &trans           &trans      &trans            &trans          &trans               &trans         &trans     &trans          &trans         &trans    &trans
&trans  &trans           &trans      &trans            &trans          &trans               &trans         &trans     &trans          &trans         &trans    &trans
&trans  &kp EXCLAMATION  &trans      &kp EQUAL         &kp CARET       &kp TILDE            &trans         &kp HOME   &kp UNDERSCORE  &kp BACKSLASH  &kp PLUS  &trans
&trans  &kp AT           &kp DOLLAR  &kp MINUS         &kp LEFT_SHIFT  &trans               &kp BACKSPACE  &trans     &trans          &kp DELETE     &trans    &trans
&trans  &trans           &trans      &kp LEFT_CONTROL  &trans          &trans               &kp END        &kp GRAVE  &kp LBKT        &kp RBKT       &trans    &trans
&trans  &trans           &trans      &trans            &trans                                              &trans     &trans          &trans         &trans    &trans
                                                       &trans          &trans     &trans    &trans         &trans     &trans
                                                       &trans          &trans     &trans    &trans         &trans     &trans
            >;
        };

        global_vim_control {
            bindings = <
&trans  &trans  &trans               &trans     &trans  &trans                  &trans    &trans    &trans        &trans     &trans         &trans
&trans  &trans  &trans               &trans     &trans  &trans                  &trans    &trans    &trans        &trans     &trans         &trans
&trans  &trans  &kp LC(RIGHT_ARROW)  &trans     &trans  &trans                  &yank     &kp HOME  &trans        &trans     &kp LC(V)      &trans
&trans  &trans  &trans               &del_line  &trans  &b_gg                   &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &kp BACKSPACE  &trans
&trans  &trans  &trans               &trans     &trans  &kp LC(LEFT)            &kp END   &trans    &trans        &trans     &trans         &trans
&trans  &trans  &trans               &trans     &trans                                    &trans    &trans        &trans     &trans         &trans
                                                &trans  &trans        &trans    &trans    &trans    &trans
                                                &trans  &trans        &trans    &trans    &trans    &trans
            >;
        };

        sys_ctrl_layer {
            bindings = <
&trans  &trans  &trans  &trans           &trans             &trans            &trans                &trans             &trans           &trans                &trans  &trans
&trans  &trans  &trans  &trans           &trans             &trans            &trans                &trans             &trans           &trans                &trans  &trans
&trans  &trans  &trans  &trans           &trans             &trans            &trans                &trans             &trans           &trans                &trans  &trans
&trans  &trans  &trans  &kp K_SCROLL_UP  &kp K_SCROLL_DOWN  &trans            &kp C_BRIGHTNESS_DEC  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_BRIGHTNESS_INC  &trans  &trans
&trans  &trans  &trans  &trans           &trans             &trans            &trans                &kp K_MUTE         &trans           &trans                &trans  &trans
&trans  &trans  &trans  &trans           &trans                                                     &trans             &trans           &trans                &trans  &trans
                                         &trans             &trans  &trans    &trans                &trans             &trans
                                         &trans             &trans  &trans    &trans                &trans             &trans
            >;
        };
    };
};

// right hand trackball configuration
// &trackball_peripheral_listener {
//    input-processors =
//     activate layer 3 within 500ms of the trackball moving
//     <&zip_temp_layer 3 500>;
// };
//left hand trackball configuration

&trackball_central_listener {
    input-processors =
        // multiply sensitivity by 1, divide by 3 (make it slower for scrolling),,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
        <&zip_xy_scaler 1 3>,
        // make this trackball output scrolling events by default instead of cursor movement,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
        <&zip_xy_to_scroll_mapper>,
        // invert vertical scrolling so that the view moves in the same direction as the top of the trackball.,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
        <&zip_scroll_transform INPUT_TRANSFORM_Y_INVERT>;
};
